<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.dao.UserDao">
	<!-- 获得用户列表 -->
	<select id="getUser"  resultType="com.yang.bean.User">
		select  user_id userId,user_name userName,pass_word password from t_user 
	</select>
</mapper>